@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logoImg {
  display: flex;
  align-items: start;
}

img {
  width: 100%;
}

.decoration {
  text-decoration: none;
}

main {
  background-color: rgb(240, 222, 222);
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: black !important;
  color: rgb(240, 222, 222) !important;
}

.nav-Link {
  color: rgb(240, 222, 222) !important;
}

.logoImg {
  width: 100%;
  background-color: black;
}
.logoImg img {
  width: 150px;
}

main section .mainImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section div .indexImgSpace {
  display: flex;
  justify-content: space-between;
}
main section div .indexImgSpace img {
  flex: 1;
  margin: 0;
}
main section .gridImg1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  margin: 0 0;
  justify-content: center;
}
main section .gridImg1 .item1,
main section .gridImg1 .item2,
main section .gridImg1 .item3 {
  width: 371px;
  height: 371px;
  background-color: black !important;
  color: rgb(240, 222, 222) !important;
}
main section .gridImg1 .item1 {
  grid-column: 1/3;
}
main section .gridImg1 .item2 {
  grid-column: 3/5;
}
main section .gridImg1 .item3 {
  grid-column: 5/7;
}
main section .hoverFotos {
  color: black;
  display: inline-block;
}
main section .hoverFotos img {
  border: 2px solid #979797;
  border-radius: 10px;
  transition: border-color 0.3s ease, transform 0.3s ease;
}
main section .hoverFotos img:hover {
  border-color: black;
  transform: scale(1.05);
}

main section.gridImg2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: auto;
  height: auto;
  justify-content: center;
}
main section.gridImg2 .gridItem1 {
  grid-column: 1/4;
  grid-row: 1/3;
}
main section.gridImg2 .gridItem2 {
  grid-column: 4/7;
  grid-row: 1/3;
}
main section.gridImg2 .hoverFotos2 {
  color: black;
}
main section.gridImg2 .hoverFotos2 img {
  border: 2px solid #979797;
  transition: border-color 0.3s ease, transform 0.3s ease;
}
main section.gridImg2 .hoverFotos2 img:hover {
  border-color: rgb(0, 0, 0);
  transform: scale(1.05);
}
main section.gridImg2 .soloTabletMobile {
  display: none;
}

.margin {
  margin: 0;
  border: 0;
}

.gridFotosBotines {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 16px;
  margin: 16px 0;
  justify-content: center;
  text-align: center;
  background-color: rgb(240, 222, 222);
}
.gridFotosBotines .bordesRedondos {
  border-radius: 20px; /* El radio de la esquina redondeada */
  border: 2px solid #979797; /* Un borde para resaltar el `border-radius` */
  background-color: rgb(240, 222, 222);
}

.font {
  color: rgb(240, 222, 222) !important;
}

.copyFooter {
  display: flex;
  text-align: end;
  flex-direction: column;
  font-size: xx-small;
}

footer img {
  width: 10%;
}

.footer {
  background-color: black;
  color: rgb(240, 222, 222);
  text-align: center;
  padding: 20px;
  border: 0;
}

@media (max-width: 1130px) {
  .gridImg1 {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
  }
  .item1,
  .item2,
  .item3 {
    width: 100%;
    height: auto;
    grid-column: auto;
  }
  .gridImg2 {
    display: block;
  }
  .gridItem1,
  .gridItem2 {
    width: 100%;
    display: block;
    grid-column: auto;
    grid-row: auto;
  }
  .divP {
    display: block;
    justify-content: start;
  }
  .divP h1 {
    border-top: rgb(240, 222, 222);
    border-bottom: rgb(240, 222, 222);
  }
  .soloDesktop {
    display: none;
  }
  .soloTabletMobile {
    display: block;
  }
}
@media (min-width: 1124px) {
  .item3 {
    flex-wrap: wrap;
  }
}
@media (max-width: 769px) {
  .divP h1 {
    border-top: rgb(240, 222, 222);
    border-bottom: rgb(240, 222, 222);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .gridFotosBotines {
    grid-template-columns: 1fr 1fr; /* Cambia a dos columnas */
    width: 100%; /* Ajusta el ancho al 100% */
  }
}
/* Media query para pantallas pequeñas (menos de 768px) */
@media (max-width: 767px) {
  .gridFotosBotines {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    width: 100%; /* Ajusta el ancho al 100% */
  }
}

/*# sourceMappingURL=estilos.css.map */
